@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Kimjungchul";
  src: url("../../assets//fonts//KimjungchulGothic-Regular.ttf");
}

.main {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 31px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: "Kimjungchul";
  font-size: calc(1vw + 1vh); /* 반응형 */
  border-radius: 20%;
  padding: 15px 25px;
  width: 15%;
  white-space: nowrap;
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
  color: black;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  background-image: linear-gradient(to bottom, #4070e9, #88a7e3);
  color: white;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-5px);
}
