@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Kimjungchul";
  src: url("../../assets//fonts//KimjungchulGothic-Regular.ttf");
}

.topic {
  color: var(--color-orange);
  font-family: "KimjungchulGothic-Bold";
}

.topicsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.topicBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 215px;
  padding: 20px;
}

.topicBox img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}

/*  */

.theme-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.theme-btn {
  flex: 1;
  margin: 0 10px;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.themeBtn {
  font-family: "KimjungchulGothic-Bold";
  font-size: calc(1.2vw + 1vh); /* 반응형 */
  border-radius: 20%;
  padding: 25px 30px;
  width: 15%;
  white-space: nowrap;
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
}

.themeBtn :hover {
  background-image: linear-gradient(to bottom, #4070e9, #88a7e3);
  color: white;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-5px);
}

.themeBtnContainer {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: baseline; */
  gap: 4%; /* 버튼 간격 조절 */
  padding-top: 5%;
  padding-bottom: 2%;
  /* padding-left: 1%; */
  margin-left: 3%;
  margin-right: 3%;
  position: relative;

  text-align: left;
  font-size: 31px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: "Kimjungchul";
  font-size: calc(1vw + 1vh); /* 반응형 */
  border-radius: 20%;
  padding: 15px 25px;
  width: 15%;
  white-space: nowrap;
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
  color: black;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  background-image: linear-gradient(to bottom, #4070e9, #88a7e3);
  color: white;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-5px);
}
