.sidebar {
  width: 200px;
  position: fixed;
  left: -200px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}

/* 토글버튼 */
.sidebarToggle {
  position: fixed;
  left: 0;
  top: 10px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.sidebarToggleIcon {
  display: block;
  width: 30px;
  height: 30px;
  color: #3668eb;
  font-size: calc(0.8vw + 1.5vh);
  /* background-color: #3669eb00; */
}

.logo {
  font-family: "KimjungchulGothic-Bold";
  font-size: calc(0.9vw + 1.5vh);
}

.logout {
  font-family: "KimjungchulGothic-Bold";
  background-image: linear-gradient(to bottom, #3668eb, #6f97e7);
  cursor: pointer;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* 크기 설정 */
  padding: 8px 30px;
}

.username {
  font-family: "KimjungchulGothic-Bold";
  font-size: 1.1rem;
  margin-bottom: 5px;
}
