@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Kimjungchul";
  src: url("../../assets//fonts//KimjungchulGothic-Regular.ttf");
}

.main {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 31px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic {
  color: var(--color-orange);
}

.topicsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.topicBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 215px;
  padding: 20px;
}

.topicBox img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}
