.main {
  position: relative;
  width: 100%;
  height: 834px;
  overflow: hidden;
  background-image: url("/public/ipad-pro-11--15@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 31px;
  color: white;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic {
  color: var(--color-orange);
}

.topicsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.topicBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 215px;
  padding: 20px;
}

.topicBox img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}
