.main {
  position: relative;
  width: 100%;
  height: 834px;
  overflow: hidden;
  background-image: url("/public/ipad-pro-11--15@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 31px;
  color: white;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic {
  color: var(--color-orange);
}

.topicsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.topicBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 215px;
  padding: 20px;
}

.topicBox img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}

@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.btn {
  font-family: "KimjungchulGothic-Bold";
  width: 15%;
  height: 50px;
  font-size: calc(0.5vw + 1.5vh); /* 반응형 */
  white-space: nowrap;
}

.bb {
  font-size: calc(1.5vw + 1.5vh); /* 반응형 */
}

.back {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../../assets/images/teacherback.jpg");
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  user-select: none; /* 클릭금지 */
}

.total {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
