@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kimjungchul";
  src: url("../../assets//fonts//KimjungchulGothic-Regular.ttf");
}

.main {
  background-image: url(../../assets/images/backback.jpeg);
  /* opacity: 0.5; */
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-black);
  font-family: "KimjungchulGothic-Bold";
  user-select: none; /* 클릭금지 */
}

.front {
  position: relative; /* 현재 위치를 기준으로 위치 조정 */
  z-index: 1;
}

/* .welcome {
  position: absolute;
  top: 16vh;
  left: 50%;
  font-size: 2vw;
  font-family: var(--font-roboto);
  transform: translateX(-50%);
}
 */
.options {
  font-family: "KimjungchulGothic-Bold";
  position: absolute;
  top: 43vh;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 80%;
  left: 10%;
}

.option {
  font-family: "KimjungchulGothic-Bold";
  width: 20vw;
  height: 20vw;
  position: relative;
  background-color: rgba(159, 159, 160, 0.175);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.option:hover {
  background-image: linear-gradient(
    to bottom,
    #3668eb,
    #88a7e3
  ); /* 그라데이션 */
  transform: translateY(-10px);
  border-radius: var(--br-16xl);
  border: none;
}

.option:hover .optionText {
  color: #fff;
}

p {
  font-family: "KimjungchulGothic-Bold";
}

.optionText {
  font-family: "KimjungchulGothic-Bold";
  position: absolute;
  font-weight: 600;
  top: 40%;
  left: 11.8%;
  text-align: left;
  width: 100%;
  font-size: 2vw;
  font-weight: bolder;
}

.welcome {
  position: absolute;
  top: 16vh;
  left: 50%;
  font-size: 5vw;
  font-family: var(--font-roboto);
  transform: translateX(-50%);
}

.welcome b {
  line-height: 3.75vh;
  font-size: 75%;
  font-family: "KimjungchulGothic-Bold";
}

.welcome span {
  display: block;
  font-size: 25%;
  line-height: 4vh;
  font-family: "KimjungchulGothic-Bold";
}

.logout {
  background-image: linear-gradient(
    to bottom,
    #3668eb,
    #6f97e7
  ); /* 그라데이션 */
  position: absolute; /* 로그아웃 버튼의 위치를 조정합니다. */
  top: 50px; /* 최상단에서의 위치를 정합니다. */
  left: 0px; /* 왼쪽에서의 위치를 정합니다. */

  border-radius: var(--br-16xl);
  font-weight: 600;
  cursor: pointer;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* 크기 설정 */
  padding: 14px 30px;
  font-size: calc(0.6vw + 1.5vh);
}
