.topicsContainer {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 20px; */
}

.topicBox img {
  width: 200px;
  height: 250px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  margin-right: 0px;
}

.topicBox {
  width: 200px;
  height: 250px;
  font-size: 180%;
  font-weight: bold;
}
