@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Kimjungchul";
  src: url("../../assets//fonts//KimjungchulGothic-Regular.ttf");
}

.situation {
  position: relative;
  /* width: 50%; */
  overflow: hidden;
  text-align: left;
  font-size: 31px;
  color: rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.main {
  position: relative;
  width: 30%;
  overflow: hidden;
  text-align: left;
  font-size: 31px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "KimjungchulGothic-Bold";
  word-break: break-all;
  white-space: pre-wrap;
  white-space: pre-line;
  font-size: calc(9.5vw + 1vh);
  padding: 3%;
}

h1 {
  font-family: "KimjungchulGothic-Bold";
  font-size: calc(2.5vw + 1vh);
  margin-left: 3%;
  align-items: center;
}

.themeImageUrl {
  align-items: center;
}

.imgs {
  justify-content: center;
  align-items: center;
}
