/* ToolbarComponent.css */

/* 기본적인 툴바 스타일 */
.toolbar {
  background-color: #3f51b5; /* 예시 색상 (다크 블루) */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* 툴바 아래의 다음 컨텐츠를 위한 상단 여백 설정 */
#container {
  margin-top: 64px; /* 툴바의 높이(예시) */
}

/* 툴바 내 세션 정보 스타일 */
#navSessionInfo {
  flex: 1; /* 다른 요소들을 오른쪽으로 밀어내고, 세션 정보를 왼쪽으로 정렬 */
}

#titleContent {
  color: white;
  font-size: 1.2rem; /* 글자 크기 조정 (예시) */
  font-weight: 500; /* 글자 두께 조정 (예시) */
}

/* 툴바 내 버튼 스타일 */
.navButton {
  margin-left: 10px; /* 버튼 간격 조정 */
}

/* 마이크와 나가기 버튼이 묶여있는 부분 */
.buttonsContent {
  display: flex;
  align-items: center;
}

/* 아이콘 버튼의 색상 변경 (예시) */
#navMicButton {
  color: white;
}

#navLeaveButton {
  color: red;
}
