@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: url("/src/assets/fonts/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}

.main {
  background-image: url(/src/assets/images/real_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  width: 85%;
  height: 90%;
}

/* 여기까지 공통 */

.theme {
  position: relative;
  text-align: center;
  width: 100%;
}

.diarytext {
  font-family: KoPubWorld Batang Bold;
  font-size: calc(2.5vw + 1.5vh);
}

.square * {
  user-select: none;
}

.userMessage {
  font-family: KoPubWorld Batang Bold;
  display: block;
  color: rgb(148, 35, 35);
  font-size: 1.5em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.generatedMessage {
  font-family: KoPubWorld Batang Bold;
  margin-left: 3%;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.diaryMessage {
  font-family: KoPubWorld Batang Bold;
  color: rgb(3, 175, 122);
  margin-left: 3%;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
