@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: url("/src/assets/fonts/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}

.main {
  background-image: url(/src/assets/images/real_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  width: 85%;
  height: 90%;
}
/* 여기까지 공통 */

.greeting {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);

  white-space: nowrap;
}

.b {
  top: 0;
  left: 0;
  line-height: 36px;
  display: inline-block;
  text-shadow: 0 15px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-black);
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  font-size: calc(4vw + 1.5vh); /* 반응형 */
}

.time {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);

  white-space: nowrap;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b2,
.b3,
.b4 {
  display: block;
  font-size: calc(2.5vw + 3.5vh);
  font-family: KoPubWorld Batang Bold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.b3 {
  display: block;
  font-size: calc(3.5vw + 3.5vh);
  border: 9px solid #fff100;
  animation: blink 2s linear infinite;
  font-weight: bolder;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: yellow;
  /* -webkit-text-stroke: 3px #fff100; */
}

/*  fadeout */

.fadeOut {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 5;
  }
  to {
    opacity: 0;
  }
}

.square * {
  user-select: none;
}
