@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: url("/src/assets/fonts/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}


@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulsatingDiv {
  animation: pulsate 1.5s infinite;
}


.main {
  background-image: url(/src/assets/images/real_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  width: 85%;
  height: 90%;
  display: flex; /* Flexbox를 사용 */
  justify-content: space-between; /* 요소들 사이의 공간을 균등하게 분배 */
  padding: 0 10px; /* 좌우 패딩 추가 (선택적) */
}
/* 여기까지 공통 */

.greeting {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);

  /* white-space: nowrap; */
}

.theme {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 10px;
  max-width: 100%;
  padding: 0 16px; /* 좌우 패딩 추가 */
}

.b {
  top: 0;
  left: 0;
  line-height: 36px;
  display: inline-block;
  color: var(--color-black);
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  font-size: calc(2.5vw + 1.5vh); /* 반응형 */
}

.imageSituationContainer {
  display: flex; /* Flexbox를 사용 */
  justify-content: space-between; /* 요소들 사이의 공간을 균등하게 분배 */
  padding: 0 10px; /* 좌우 패딩 추가 (선택적) */
}

.time {
  display: flex;
  font-family: KoPubWorld Batang Bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* 각 요소가 동일한 너비로 표시되도록 설정 */
  margin: 10px; /* 좌우 마진 추가 (선택적) */
  text-align: center; /* 이미지와 버튼이 중앙에 위치하도록 */
  margin-top: 8%;
}


.responsive_image {
  /* max-width: 80%; */
  height: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info {
  margin-top: 2%;
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 4rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  width: 350px; /* 원하는 너비 값으로 설정 */
  height: 100px; /* 원하는 높이 값으로 설정 */
  line-height: 60px; /* 버튼 높이와 동일하게 설정하여 텍스트를 세로 중앙에 배치 */
  text-align: center; /* 텍스트를 가로 중앙에 배치 */
  padding: 0; /* 패딩을 0으로 설정하여 버튼 내의 텍스트 위치 조절 */
  font-family: "KoPubWorld Batang Bold";
}


.situationText {
  margin-left: 12px;
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  font-size: calc(3.5vw + 2vh); /* 반응형 */
  /* 밑줄 */
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.situationText::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: -100%; /* 처음에 밑줄을 숨김 */
  bottom: 0;
  background-color: #fff100;
  animation: revealUnderline 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s
    forwards; /* 애니메이션 추가 */
}

@keyframes revealUnderline {
  0% {
    left: -100%; /* 시작 위치 */
  }
  100% {
    left: 0; /* 끝 위치 */
  }
}

.imageContainer {
  margin-right: 12px;
  margin-left: 8px;
}

.imageContainer img {
  width: 30vw;
}

/* fade */
.fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

.fadeOut {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.square * {
  user-select: none;
}


.diaryButton {
  margin-top: 2%;
  background-color: #f7e375;
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 4rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  animation: pulsate 1.5s infinite;
  width: 350px; /* 원하는 너비 값으로 설정 */
  height: 100px; /* 원하는 높이 값으로 설정 */
  line-height: 60px; /* 버튼 높이와 동일하게 설정하여 텍스트를 세로 중앙에 배치 */
  text-align: center; /* 텍스트를 가로 중앙에 배치 */
  padding: 0; /* 패딩을 0으로 설정하여 버튼 내의 텍스트 위치 조절 */
  font-family: "KoPubWorld Batang Bold";
}