@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: url("/src/assets/fonts/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Kimjungchul";
  src: url("../../assets//fonts//KimjungchulGothic-Regular.ttf");
}

.container {
  font-family: "KoPubWorld Batang Bold";
  flex-direction: column;
  /* background-color: rgba(255, 249, 230, 0.534); */
  /* background-image: url("../../assets/images/teacherback.jpg"); */
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  user-select: none; /* 클릭금지 */
  font-family: "KimjungchulGothic-Bold";
  transition: margin-left 0.3s;

  display: flex;
}

.contentContainer {
  font-family: "KoPubWorld Batang Bold";
  padding-left: 4%;
  padding-right: 1%;
  background-image: url(/src/assets/images/real_background.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none; /* 클릭금지 */
  display: flex;
  transition: width 0.3s ease-in-out;
}

.contentLeft {
  font-family: "KoPubWorld Batang Bold";
  flex-grow: 1;
  overflow-y: auto;
  /* position: relative; */
  height: 100%;
  width: 100%;
}

.contentRight {
  font-family: "KoPubWorld Batang Bold";
  width: 80%;
  height: 100%;
  overflow-y: scroll;
}

.toolbar {
  font-family: "KoPubWorld Batang Bold";
  flex-shrink: 0;
}

.BtnContainer {
  font-family: "KoPubWorld Batang Bold";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  text-align: center;
}

button {
  font-family: "KoPubWorld Batang Bold";
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  padding: 10px 20px;
  transition: transform 0.2s ease-in-out;
}

.container2 {
  font-family: "KoPubWorld Batang Bold";
  flex: 1;
  overflow: auto;
  padding-bottom: 2%;
}

.button-wrapper {
  font-family: "KoPubWorld Batang Bold";
  display: flex;
  justify-content: center;
}

.video {
  font-family: "KoPubWorld Batang Bold";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  left: 70%;
  overflow-y: auto;
}

html,
body,
#root,
.App {
  font-family: "KoPubWorld Batang Bold";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1 {
  margin-left: 3%;
  font-family: "Kimjungchul";
}

.wordname {
  padding-left: 5%;
  font-family: "Kimjungchul";
}

.pageButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controlsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.containerClass {
  background-image: linear-gradient(to bottom, #4070e9, #88a7e3);
  overflow: hidden;
}

.remoteUser {
  display: inline-block;
  width: 300px;
  position: relative;
  right: 0%;
  top: 50%;
  margin-right: 0%;

  /* mar */
}

.iconButtonsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
