@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: url("/src/assets/fonts/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}

.main {
  background-image: url(/src/assets/images/real_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  width: 85%;
  height: 90%;
}

/*  */

.theme {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 10px;
  max-width: 100%;
  padding: 0 16px; /* 좌우 패딩 추가 */
}

.b {
  top: 0;
  left: 0;
  line-height: 36px;
  display: inline-block;
  color: var(--color-black);
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  font-size: calc(2.5vw + 1.5vh); /* 반응형 */
}

.imageSituationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.situationText {
  margin-left: 12px;
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  font-size: calc(3.5vw + 2vh); /* 반응형 */
  /* 밑줄 */
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.situationText::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: -100%; /* 처음에 밑줄을 숨김 */
  bottom: 0;
  background-color: #fff100;
  animation: revealUnderline 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s
    forwards; /* 애니메이션 추가 */
}

@keyframes revealUnderline {
  0% {
    left: -100%; /* 시작 위치 */
  }
  100% {
    left: 0; /* 끝 위치 */
  }
}

.imageContainer {
  margin-right: 12px;
  margin-left: 8px;
}

.imageContainer img {
  width: 30vw;
}

/* fade */
.fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

.fadeOut {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.square * {
  user-select: none;
}
