@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: url("/src/assets/fonts/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}

.main {
  background-image: url(/src/assets/images/real_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.square {
  background-image: url(/src/assets/images/pictureDiary_original.PNG);
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  width: 85%;
  height: 90%;
  --diary-container-width: 100%;
}

/* 여기까지 공통 */

.theme {
  position: relative;
  text-align: center;
  width: 100%;
}

.square * {
  user-select: none;
}

.userMessage {
  font-family: "KimjungchulGothic-Bold";
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.generatedMessage {
  margin-left: 3%;
  font-family: "Kimjungchul";
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.diaryContainer {
  width: var(--diary-container-width);
  display: flex;
  /* width: 85vw; */
  flex-direction: row;
  position: relative;
  padding: 4.3vw 0;
}

.diarytext {
  width: 35vw;
  margin-left: 3.5vw;
  margin-right: 4vw;
  text-align: left; /* 좌측 정렬 */
  /* text-align: center; */
  line-height: calc(1.75vw + 3vh);
  display: inline-block;
  color: var(--color-black);
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  /* font-size: calc(1.5vw + 3vh); 반응형 */
  font-size: calc(1.75vw + 3vh); /* 반응형 */
  /* line-height: 2; */
  /* white-space: pre-wrap; */
  opacity: 0.5; /* 텍스트 투명도 설정 */
  /* color: #ff403c; */
}

.activeDiaryText {
  width: 35vw;
  margin-left: 3.5vw;
  margin-right: 4vw;
  text-align: left; /* 좌측정렬 */
  opacity: 1; /* 텍스트 투명도 설정 */
  line-height: calc(1.75vw + 3vh);
  display: inline-block;
  color: var(--color-black);
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  font-size: calc(1.75vw + 3vh); /* 반응형 */
  /* line-height: 2; */
  white-space: pre-wrap;
  /* color: #ff403c; */
}

.row__diary {
  object-fit: cover; /* 이미지의 비율을 유지하면서 지정된 박스 안에 맞게 이미지를 조정합니다. */
  border-radius: 75px;
  width: 30vw;
  margin-left: 7.25vw;
  margin-right: 5.25vw;
  margin-bottom: 10px;
  margin-top: 3vw;
}

.diaryContent {
  color: #000;
  width: 50vw;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  font-family: KoPubWorld Batang Bold;
  font-size: calc(1.2vw + 1.2vh);
  padding: 0 30px;
  padding-top: 5vw;
}
