@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: url("/src/assets/fonts/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}

.main {
  background-image: url(/src/assets/images/real_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 여기까지 공통 */

.greeting {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "KoPubWorld Batang Bold";
  white-space: nowrap;
  font-size: calc(3vw + 1.5vh);
}

.b {
  top: 0;
  left: 0;
  line-height: 36px;
  display: inline-block;
  text-shadow: 0 15px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-black);
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  font-size: calc(4vw + 1.5vh); /* 반응형 */
}

.time {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);

  white-space: nowrap;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b2,
.b3,
.b4 {
  display: block;
  font-size: calc(2.5vw + 3.5vh);
  font-family: KoPubWorld Batang Bold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.b3 {
  display: block;
  font-size: calc(3.5vw + 3.5vh);
  border: 9px solid #fff100;
  animation: blink 2s linear infinite;
  font-weight: bolder;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: yellow;
  /* -webkit-text-stroke: 3px #fff100; */
}

/*  fadeout */

.fadeOut {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 5;
  }
  to {
    opacity: 0;
  }
}

.square * {
  user-select: none;
}

/*  */

.books {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
  align-items: center;
}

.book {
  position: relative;
  width: 50vw;
  height: 30vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 18px rgba(0, 0, 0, 0.12),
    0 3px 5px rgba(0, 0, 0, 0.1);
  transform: perspective(1000px) rotateY(-17deg);
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.974);
  border-radius: 0 25px 25px 0;
  margin: 0 10px;
}

.book::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  height: 30%; /* 흰 줄 높이 */
  background-color: #fff;
  z-index: -1; /* 텍스트를 줄 앞으로 가져옴 */
}

.bookText {
  position: relative;
  z-index: 1;
  top: 47%;
  height: 30%;
  padding-left: 15px;
  color: #111;
  font-size: calc(1vw + 1vh);
  font-weight: bold;
}

/* 수정된 book 클래스  */

.book1 {
  background-color: #f77b7d;
}
.book2 {
  background-color: #72aef7;
}
.book3 {
  background-color: #f81e87;
}
.book4 {
  background-color: #df83f6;
}
.book5 {
  background-color: #98f551;
}

.bounceIn {
  animation: bounceIn 1s infinite;
}

@keyframes bounceIn {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
