@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: url("/src/assets/fonts/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}

.main {
  background-image: url(/src/assets/images/real_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  width: 85%;
  height: 90%;
}

/*  */
.theme {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: 100%;
  padding: 0 20px; /* 좌우 패딩 추가 */
}

.imageContainer {
  margin-right: 12px;
  margin-left: 8px;
}

.imageContainer img {
  width: 30vw;
}

.imageSituationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

.situationText {
  margin-left: 12px;
  font-family: KoPubWorld Batang Bold;
  font-weight: bolder;
  font-size: calc(3.5vw + 2vh); /* 반응형 */
  /* 밑줄 */
  position: relative;
  display: inline-block;
  overflow: hidden;
}
