/* .video-line-container {
  background-color: aquamarine;
  position: relative;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  position: relative;
} */

.video-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-wrapper video {
  /* width: 100vh;  */
  height: 100vh;
}

.line_1 {
  position: absolute;
  top: 25%; /* 선을 가운데로 정렬 */
  left: 25%;
  width: 10%;
  height: 5px; /* 선의 높이 (두께) 조절 */
  z-index: 1; /* 선이 비디오 위에 나타나도록 z-index 설정 */
}

.line_2 {
  position: absolute;
  top: 75%; /* 선을 가운데로 정렬 */
  left: 25%;
  width: 10%;
  height: 5px; /* 선의 높이 (두께) 조절 */
  z-index: 1; /* 선이 비디오 위에 나타나도록 z-index 설정 */
}

.line_3 {
  position: absolute;
  top: 75%; /* 선을 가운데로 정렬 */
  right: 25%;
  width: 10%;
  height: 5px; /* 선의 높이 (두께) 조절 */
  z-index: 1; /* 선이 비디오 위에 나타나도록 z-index 설정 */
}

.line_4 {
  position: absolute;
  top: 25%; /* 선을 가운데로 정렬 */
  right: 25%;
  width: 10%;
  height: 5px; /* 선의 높이 (두께) 조절 */
  z-index: 1; /* 선이 비디오 위에 나타나도록 z-index 설정 */
}

.line_5 {
  position: absolute;
  top: 25%; /* 선을 가운데로 정렬 */
  right: 25%;
  width: 5px;
  height: 10%; /* 선의 높이 (두께) 조절 */
  z-index: 1; /* 선이 비디오 위에 나타나도록 z-index 설정 */
}

.line_6 {
  position: absolute;
  top: 25%; /* 선을 가운데로 정렬 */
  left: 25%;
  width: 5px;
  height: 10%; /* 선의 높이 (두께) 조절 */
  z-index: 1; /* 선이 비디오 위에 나타나도록 z-index 설정 */
}

.line_7 {
  position: absolute;
  bottom: 25%; /* 선을 가운데로 정렬 */
  right: 25%;
  width: 5px;
  height: 10%; /* 선의 높이 (두께) 조절 */
  z-index: 1; /* 선이 비디오 위에 나타나도록 z-index 설정 */
}

.line_8 {
  position: absolute;
  bottom: 25%; /* 선을 가운데로 정렬 */
  left: 25%;
  width: 5px;
  height: 10%; /* 선의 높이 (두께) 조절 */
  z-index: 1; /* 선이 비디오 위에 나타나도록 z-index 설정 */
}

.line_1,
.line_2,
.line_3,
.line_4,
.line_5,
.line_6,
.line_7,
.line_8 {
  opacity: 0.5;
}
