@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kimjungchul";
  src: url("../../../assets//fonts//KimjungchulGothic-Regular.ttf");
}

.main {
  background-image: url(../../../assets/images/backback.jpeg);
  /* opacity: 0.5; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-black);
  font-family: "KimjungchulGothic-Bold";
  user-select: none; /* 클릭금지 */
}

.back {
  height: 100%;
  position: relative; /* 현재 위치를 기준으로 위치 조정 */
  /* z-index: 1; */
}

/* .welcome {
  position: absolute;
  top: 16vh;
  left: 50%;
  font-size: 2vw;
  font-family: var(--font-roboto);
  transform: translateX(-50%);
}
 */
.options {
  font-family: "KimjungchulGothic-Bold";
  position: absolute;
  top: 46vh;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 80%;
  left: 10%;
}

.option {
  font-family: "KimjungchulGothic-Bold";
  width: 20vw;
  height: 20vw;
  position: relative;
  border-radius: var(--br-16xl);
  background-color: rgba(159, 159, 160, 0.093);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.optionText p {
  margin: 10px; /* margin을 0으로 설정하여 기본 마진을 제거합니다. */
}

.optionText p:not(:last-child) {
  margin-bottom: 4px; /* 마지막 <p>를 제외한 모든 <p> 태그의 아래쪽 마진 값을 설정합니다. */
}

.option:hover {
  background-image: linear-gradient(
    to bottom,
    #4070e9,
    #88a7e3
  ); /* 그라데이션 */
  transform: translateY(-10px);

  border-radius: var(--br-16xl);
  border: none;
}

.optionImage {
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-16xl);
}

.option:hover .optionText {
  color: #fff;
}
.option:nth-child(1):hover {
  background-color: rgba(235, 245, 255, 0);
}

.option:nth-child(2):hover {
  background-color: rgba(235, 245, 255, 0);
}

.option:nth-child(3):hover {
  background-color: rgba(235, 245, 255, 0);
}
p {
  font-family: "KimjungchulGothic-Bold";
}

.optionText {
  font-family: "KimjungchulGothic-Bold";
  position: absolute;
  font-weight: 600;
  top: 50%;
  left: 9%;
  text-align: left;
  width: 100%;
  font-size: 2vw;
  font-weight: bolder;
}

.welcome {
  position: absolute;
  top: 16vh;
  left: 50%;
  font-size: 4vw;
  font-family: var(--font-roboto);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typing1 {
  line-height: 2.75vh;
  font-size: 4vw;
  font-family: "KimjungchulGothic-Bold";
  animation: bounce 1s infinite;
  display: block;
}

.typing2 {
  line-height: 19.75vh;
  font-size: 4vw;
  display: block;
  font-family: "KimjungchulGothic-Bold";
  animation: bounce 1s infinite;
}

.welcome span {
  display: block;
  font-size: 1.2vw;
  line-height: 0vh;
  font-family: "Kimjungchul";
}

.logout {
  background-image: linear-gradient(
    to bottom,
    #3668eb,
    #6f97e7
  ); /* 그라데이션 */
  position: absolute; /* 로그아웃 버튼의 위치를 조정합니다. */
  top: 50px; /* 최상단에서의 위치를 정합니다. */
  left: -15px; /* 왼쪽에서의 위치를 정합니다. */

  /* border-radius: var(--br-16xl); */
  font-weight: 600;
  cursor: pointer;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* 크기 설정 */
  padding: 14px 30px;
  font-size: calc(0.6vw + 1.5vh);
}

.logout:hover {
  transform: scale(1.1);
}

.optionIcon {
  position: absolute;
  top: 20%;
  left: 64.65%;
  width: 8.25%;
  height: 12.5%;
  overflow: hidden;
  width: 100%;
  max-width: 60px;
  height: auto;
  object-fit: contain;
  margin-left: 5%;
  margin-top: 0;
}
